@{
    ViewBag.Title = "Assignment 6 - Home Page";
}

<div class="jumbotron">
    <h1>Assignment 6</h1>
    <p class="lead">This web app demonstrates use of ASP.NET and Many-to-Many associated data.</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment6.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>INT 422</h2>
        <p>
            Web Programming and Developing on Windows course
        </p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/int422.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Visual Studio</h2>
        <p>an integrated development environment (IDE) from Microsoft. It is used to develop computer programs for Microsoft Windows.</p>
        <p><a class="btn btn-default" href="https://www.visualstudio.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>ASP.NET is a web application framework developed and marketed by Microsoft to allow programmers to build dynamic web sites.</p>
        <p><a class="btn btn-default" href="https://www.asp.net">Learn more &raquo;</a></p>
    </div>
</div>