@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ronen Agarunov<br />
    Seneca@York, Toronto, Ontario<br />
    <abbr title="Phone">P:</abbr>
    647.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:ragarunov@myseneca.ca">ragarunov@myseneca.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:ragarunov@myseneca.ca">ragarunov@myseneca.ca</a>
</address>